.Contact_container {
  padding-bottom: 2.5rem;
  padding-top: 2.5rem;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.Contact_title {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-align: light;
  margin-bottom: 1.5rem;
}

.Contact_formGroup {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.Contact_formLabel {
  width: 240px; 
  text-align: left;
}

.Contact_formInput {
  flex: 1; /* 残りのスペースを入力欄が占める */
  padding: 1rem;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  width: 100%;
}

.Contact_formError {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  display: block;
}

.errorInput {
  border: 2px solid red;
  background-color: #ffe6e6;
}

.Contact_inputContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.Contact_formGroup {
  justify-content: center;
  display: flex;
}

.Contact_formSubmit {
 background-color: #000;
 color: #fff;
 border-radius: .5rem;
 padding: .5rem 1rem;
 font-weight: 700;
 border:none;
 margin-right: 1rem;
}

.Contact_formSubmit:hover {
  cursor:pointer
}

.Contact_formReset {
  background-color: gainsboro;
  color: #000;
  border-radius: .5rem;
  padding: .5rem 1rem;
  font-weight: 700;
  border:none;
}

.Contact_formReset:hover {
  cursor:pointer
}
